<div class="table-responsive shadow-sm p-3 bg-white rounded shadow">
    <div class="table-wrapper border-0">
        <table class="table">
                <tr class="table-header">
                    <th class="align-middle">
                        Name
                    </th>
                    <th class="align-middle">Content</th>
                    <th class="align-middle">Credits</th>
                    <th class="align-middle">Department </th>
                   
                    <th class="align-middle">IsOpen </th>
                    
                    <th  class="align-middle">Action</th>

                </tr>
            <tbody>
                 @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="8" class="text-center">No records found</td>
                    </tr>
                }
                @foreach (dynamic course in Model)
                {
                    <tr>
                        <td>@course.CourseName</td>
                        <td>@course.CourseContent</td>
                        <td>@course.CourseCredits</td>
                        <td>@course.CourseDepartment</td>
                        <td>
                            <div class="form-check form-switch is-enabled-toggle ">
                                <input class="form-check-input form-check-input-quick toggle-switch" type="checkbox"   role="switch" name="IsEnabled_@course.CourseId"
                                    id="IsEnabled_@course.CourseId" value="true" data-id="@course.CourseId" data-type="IsEnabled"
                                    @(course.IsOpen ? "checked" : "")   style="width: 60px; height: 30px;  opacity: 1;" />
                            </div>
                        </td>
                        <td class="text-start">
                             
                            <div class="d-flex justify-content-center align-items-center">
                              
                                <button class="text-black text-reset edit-course btn cursor-pointer" data-courseId="@course.CourseId">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-pen" viewBox="0 0 16 16">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                            </svg>
                                </button>
                              
                                
                                <button class="text-black text-reset delete-course btn cursor-pointer" data-courseId="@course.CourseId">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-trash3" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                                </button>
                              
                            </div>
                        </td>
                       
                    </tr>
                }
            </tbody>

        </table>
    </div>

    <div class="pagination-container d-flex flex-wrap flex-md-nowrap ">
        <span>Showing @ViewBag.FromRec - @ViewBag.ToRec of @ViewBag.TotalItems</span>
        @{
            int[] pageSizes = { 5, 10, 20 };
        }

        <select id="pageSizeDropdown" class="form-select">
            @foreach (var size in pageSizes)
            {
                <option value="@size" selected="@(ViewBag.PageSize == size ? "selected" : null)">@size</option>
            }
        </select>

        <input type="hidden" id="totalPages" value="@ViewBag.TotalPages" />
        <button id="prevPageBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
            </svg>
        </button>
        <button id="nextPageBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
            </svg>
        </button>

    </div>
</div>
